@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");




body {
    font-family: "Raleway", sans-serif;
    margin: auto;
    scroll-behavior: auto;
    scroll-behavior: smooth;
}

#page {
    width: 95%;
    margin: auto;
}


header>nav>ul>li>a:hover  {
    display: block;
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

header>nav>ul>li>a   {
    display: block;
    border-top: 2px solid transparent;
    color: black;
    text-decoration: none;
}

header>a {
    color: black;
    text-decoration: none;
}
header>a:hover{
    color: #0065fc;
    text-decoration: none;
}

.logo-brand {
    width: 10%;
}

header {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
}

header>nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

header a {
    margin-top: 0px;
    margin-right: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    padding-top: 35px;
}

.top-nav {
    width: 80%;
}

/* Fin du style pour la Navbar du haut */

/* Début du style pour les Filtres */
h2.line-height {
    font-weight: lighter;
    font-size: 13px;
    height: auto;
}

#search-bar ul {
    width: auto;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline-start: 10px;
}

@-moz-document url-prefix(https://maxlestage.github.io/LESTAGEMaxime_2_21122020) {
    .gps-loc {
        border-radius: 12px 0px 0px 12px;
        color: black;
        background-color: #f2f2f2;
        padding: 11px;
    }
  }

.gps-loc {
    border-radius: 12px 0px 0px 12px;
    color: black;
    background-color: #f2f2f2;
    padding: 11.5px;
}

/* Test Webkit pour la barre de recherche avec safari */
::-webkit-input-placeholder {
    color: black;
}

/* Barre de recherche */
input#site-search {
    border: 1px solid #f2f2f2;
    text-decoration-line: none;
    padding: 11px;
    font-weight: bold;
    outline-color: #f2f2f2;
}

button.btn-search {
    border: 1px solid #0000ff00;
    border-radius: 0px 12px 12px 0px;
    text-decoration-line: none;
    color: white;
    background-color: #0065fc;
    padding: 11px;
    font-weight: bold;
}

li {
    list-style: none;
}

/* Début des Filtres */

#filters>ul {
    /* border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    margin-left: -35px;
}

#filters li:not(.title-filters) {
    /*border: 1px solid #f2f2f2;*/
    border-radius: 35px 35px;
    margin-left: 5%;
}

#filters p {
    border: 3px solid #f2f2f2;
    /* border: 3px solid #f2f2f2;*/
    border-radius: 30px;
    margin-top: 2vh;
    justify-content: center;
}

#filters a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.filter:hover {
    transform: scale(0.8);
}

.list-filters {
    /*border: 1px solid green;*/
    margin-left: 10px;
    margin-right: 1.5em;
}

.filter-logo {
    text-align: center;
    /*border: 1px solid blue;*/
    border-radius: 100%;
    text-decoration-line: none;
    /*margin-left: 1em;*/
    color: #0368fc;
    background-color: #dfecff;
    padding: 15px;
    margin-left: -2%;
    margin-top: -1.5%;
    margin-bottom: -1%;
    font-weight: bold;
}

.fa-child {
    width: 12%;
    margin-right: -2%;
}

/* Fin du style pour les Filtres */

/* Style créer pour pour le petit i en dessous des filtres */

section#info {
    margin-bottom: 3%;
}

.i-info a {
    text-decoration: none;
}

.i-info span {
    font-family: serif;
    /* Pour la famille de lettre utilisé pour le i*/
    font-weight: bold;
    font-style: normal;
    /* Pour l'aspect du i*/
    font-size: smaller;
    /* Pour la taille du i*/
    padding: 1px 7px;
    /* Pour la taille du cercle qui entoure le i*/
    border-radius: 50%;
    color: #0065fc;
    border: 1px solid #f2f2f2;
}

/* Fin du style du petit i */

/* Début du style pour L'Hébergement à Marseille */
#heb-marseille {
    display: flex;
    justify-content: space-between;
    /* Margin Utilisé pour le rendu de l'ancre vers Hébergements */
}

section#heb-marseille h3 {
    text-align: justify;
    padding-left: 11%;
    padding-top: 4%;
}

h3.title-heb {
    display: block;
    position: absolute;
}

figure.img-marseille {
    display: block;
    margin-block-start: 1.5%;
    margin-inline-start: 2%;
    margin-inline-end: 2%;
}

.heb-row a {
    text-decoration: none;
}

.heb-row {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding-top: 6%;
    padding-left: 2em;
    padding-right: 3%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 42% 42%;
    grid-gap: 7% 4%;
    width: 70%;
    margin-right: -1%;
    padding-bottom: 5%;
}

.heb-row img {
    padding-top: 1px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.heb-select {
    /* border: 1px solid cornflowerblue; */
    background-color: white;
    box-shadow: 0px 2px 4px 0px #80808059;
    /* width: 242px; */
    /* margin-top: auto; */
    /* margin-right: 4%; */
    /* margin-bottom: auto; */
    /* margin-left: 40px; */
    border-radius: 18px 18px 18px 18px;
}

figcaption.card-text {
    margin-left: 10px;
}

.card-text .wide {
    color: #d9d9d9;
}

.card-text i:not(.wide) {
    color: #0065fc;
}

.aside-title {
    font-weight: bold;
    font-style: normal;
    font-size: smaller;
    color: black;
}

.card-light {
    font-weight: lighter;
    font-size: 13px;
    height: auto;
    color: black;
}

i.fa.fa-star {
    letter-spacing: -3px;
    font-size: 11px;
}

.card-text p {
    margin: 0px;
    line-height: 22px;
}

/* Afficher plus */
.display-more {
    display: table;
    width: 100%;
}

.display-more a {
    color: black;
}

/* Fin du style pour Hébergement Marseille */

/* Début du style pour le ASIDE  Populaire  */
i.fas.fa-chart-line {
    padding-left: 38%;
}

#populaire-side {
    border-radius: 20px;
    background-color: #f2f2f2;
    margin-left: 3%;
    width: 35%;
}

figure.pop-img-marseille {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 6%;
}

img.pop-img {
    border-radius: 15px 0px 0 15px;
    height: 8em;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 35%;
}

.pop-img-marseille {
    position: relative;
    box-shadow: 0px 2px 4px 0px #80808059;
    background-color: white;
    border-radius: 19px;
    height: auto;
    width: 100%;
    /* margin-top: 2%; */
    /* margin-bottom: 7%; */
    padding: 1%;
}

section#heb-marseille h3:not(.pop-right) {
    padding-top: 1%;
    text-align: justify;
    padding-left: 3%;
}

.heb-right img {
    width: 100%;
    border-radius: 15px 0px 0 15px;
    height: 97%;
    object-fit: cover;
    max-width: 35%;
    max-height: 100%;
}

.heb-right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

figcaption.card-text-right-side {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 38%;
}

.aside-stars .fa-star {
    color: #0065fc;
}

.aside-stars .wide {
    color: #d9d9d9;
}

p.aside-light {
    margin: 0%;
    line-height: 22px;
    font-weight: lighter;
    font-size: 13px;
    height: auto;
    color: black;
}

p.aside-title {
    /* display: block; */
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
}

p.aside-stars {
    line-height: 6em;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.container-right h3 {
    text-align: justify;
    padding-left: 12%;
}

.container-right a {
    text-decoration: none;
}

/* Fin du style pour le aside */

/* Activités à Marseille */
h3.title-activity {
    display: block;
    position: absolute;
    padding-top: 1%;
    text-align: justify;
    padding-left: 3%;
}

#activity-marseille {
    margin-top: 3%;
    margin-bottom: 3%;
}

#activity-marseille a {
    text-decoration: none;
}

.activity-marseille {
    padding-top: 6%;
    display: grid;
    grid-template-columns: 23% 20% 23% 20%;
}

.activity-select img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 11em;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/* Fort de Pomêgues */
.activity-select-large img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 14rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/* Îles de Frioul */
.activity-select-small img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 8rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

/* Utiliser pour le contour des cartes */
figure.img-activity {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-color: rgb(242, 242, 242);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(242, 242, 242);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(242, 242, 242);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 1px;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 12%;
    margin-inline-end: 0%; */
    box-shadow: 0px 3px 9px -1px #80808059;
}

/* Utiliser pour le contour des cartes */
figure.img-activity-center {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-color: rgb(242, 242, 242);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(242, 242, 242);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(242, 242, 242);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(242, 242, 242);
    border-left-style: solid;
    border-left-width: 1px;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 15%;
    margin-inline-end: 0%; */
    box-shadow: 0px 3px 9px -1px #80808059;
}

/* Style pour les cartes une à une, de la section activités */
.activity-select-portrait img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 26rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.activity-select-portrait-center img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 26rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

figcaption.activity-card-text {
    margin-left: 10px;
}

.card-title {
    font-weight: bold;
    font-style: normal;
    font-size: smaller;
    color: black;
    margin-left: 2%;
}

.card-text p {
    margin: 0px;
    line-height: 22px;
}

.double-activity-marseille {
    width: 19em;
    margin-left: 12.5%;
}

.activity-select-portrait {
    width: 23em;
}

.activity-select-portrait-center {
    width: 23em;
    margin-left: 11%;
}

.double-cards {
    width: 24em;
    margin-left: 23%;
}

/* Fin du style Activités à Marseille */

/* Style du footer */
footer>#footer-items {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}

footer {
    background-color: #f2f2f2;
    margin: auto;
    width: 100%;
    padding: 2% 0% 2%;
}

footer a {
    text-decoration: none;
    color: black;
}

.about {
    margin-left: -8%;
}

/* Fin du stylepour le footer */

/* ADDING MEDIA QUERY */

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}