@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 3%;
    margin: auto;
}

/*         */
header {
    width: 95%;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
}

.logo-brand {
    /*border: 1px solid black;*/
    display: flex;
    width: 10%;
}

.brand-logo img {
    width: 10%;
}

.nav-items {
    /*border: 1px solid purple;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    padding-right: 5%;
}

h2.line-height {
    /*border: 1px solid greenyellow;*/
    font-weight: lighter;
    font-size: 13px;
    height: auto;
}

.top-search {
    width: 95%;
    margin: auto;
}

#search-bar {
    /* border: 1px solid blue;*/
}

#search-bar ul {
    width: auto;
    height: 2em;
    /*border: 1px solid brown;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-inline-start: 10px;
}

.gps-loc {
    border-radius: 12px 0px 0px 12px;
    color: black;
    background-color: #f2f2f2;
    padding: 11.5px;
}

::-webkit-input-placeholder {
    color: black;
}

input#site-search {
    border: 1px solid #f2f2f2;
    text-decoration-line: none;
    padding: 11px;
    font-weight: bold;
}

button.btn-search {
    border: 1px solid #0000ff00;
    border-radius: 0px 12px 12px 0px;
    text-decoration-line: none;
    color: white;
    background-color: #0065fc;
    padding: 11px;
    font-weight: bold;
}


li {
    list-style: none;
}

#filters > ul {
    /* border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    margin-left: -35px;
}

#filters li:not(.title-filters) {
    /*border: 1px solid #f2f2f2;*/
    border-radius: 35px 35px;
    margin-left: 5%;
}

#filters p {
    border: 3px solid #F2F2F2;
    /* border: 3px solid #f2f2f2;*/
    border-radius: 30px;
    margin-top: 2vh;
    justify-content: center;
}

#filters a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.list-filters {
    /*border: 1px solid green;*/
    margin-left: 10px;
    margin-right: 1.5em;
}

.filter-logo {
    text-align: center;
    /*border: 1px solid blue;*/
    border-radius: 100%;
    text-decoration-line: none;
    /*margin-left: 1em;*/
    color: #0368fc;
    background-color: #dfecff;
    padding: 15px;
    margin-left: -2%;
    margin-top: -1.5%;
    margin-bottom: -1%;
    font-weight: bold;
}

.fa-child {
    width: 12%;
    margin-right: -2%;
}

.i-info a {
    text-decoration: none;
}

.i-info span {
    font-family: serif; /* Pour la famille de lettre utilisé pour le i*/
    font-weight: bold;
    font-style: normal; /* Pour l'aspect du i*/
    font-size: smaller; /* Pour la taille du i*/
    padding: 1px 7px; /* Pour la taille du cercle qui entoure le i*/
    border-radius: 50%;
    color: #0065fc;
    border: 1px solid #F2F2F2;
}

#heb-marseille {
    /*  border: 1px solid gray;*/
    display: flex;
    justify-content: space-between;
}

section#heb-marseille h3 {
    text-align: justify;
    padding-left: 11%;
    padding-top: 4%;
}


section#heb-marseille:not(.title-heb) {
    width: 95%;
    margin: auto;
}

h3.title-heb {
    display: block;
    position: absolute;
}

/*.title-heb-marseille {
    width: 100%;
}*/



figure.img-marseille {
    display: block;
    margin-block-start: 1.5%;
    margin-inline-start: 2%;
    margin-inline-end: 2%;
}

/*.fig-image {
    !*display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;*!
}*/

.heb-row a {
    text-decoration: none;
}

/*.heb-row {
    border: 1px solid purple;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    !* padding-bottom: 2%; *!
    margin-right: 3%;
    margin-top: 0%;
    !* margin-bottom: 20%; *!
    margin-left: auto;
    border-radius: 20px;
}*/

.heb-row {
    border-radius: 20px;
    background-color: #F2F2F2;
    padding-top: 6%;
    padding-left: 2em;
    padding-right: 3%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 42% 42%;
    grid-gap: 7% 4%;
    width: 60%;
    margin-right: -1%;
    padding-bottom: 5%;
}


.card-text i:not(.wide) {
   color:#0065fc;
}
.card-text .wide {
    color:#d9d9d9;

}

figcaption.card-text {
    margin-left: 10px;
}

i.fa.fa-star {
    letter-spacing: -3px;
    font-size: 11px;
}
.card-text p {
    margin: 0px;
    line-height: 22px;
}

.card-title {
    font-weight: bold;
    font-style: normal;
    font-size: smaller;
    color: black;
}

.card-light {
    font-weight: lighter;
    font-size: 13px;
    height: auto;
    color: black;
}

.heb-row img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 7rem;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}


.heb-select {
    /* border: 1px solid cornflowerblue; */
    background-color: white;
    box-shadow: 0px 2px 4px 0px #80808059;
    /* width: 242px; */
    /* margin-top: auto; */
    /* margin-right: 4%; */
    /* margin-bottom: auto; */
    /* margin-left: 40px; */
    border-radius: 18px 18px 18px 18px;
}

/* Afficher plus */
.display-more {
    display: table;
    width: 100%;

}

i.fas.fa-chart-line {
    padding-left: 30%;
}


#populaire-side {
    border-radius: 20px;
    background-color: #f2f2f2;
   /* border: 1px solid fuchsia;*/
   /* display: grid;
    grid-template-rows: auto auto auto;*/
}


.pop-img-marseille {
    background-color: white;
    border-radius: 19px;
    /* border: 1px solid rosybrown; */
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
    height: 20vh;
    width: 25vw;
    margin-top: 2%;
    margin-bottom: 7%;
}

.title-activity-marseille h3 {
    width: 100%;
}

#activity-marseille {
    border: 1px solid fuchsia;
    margin-top: 3%;
    margin-bottom: 3%;
}

.img-activity-marseille {

    width: auto;
    display: flex;
    flex-direction: row;
    align-content: center;

}

section#activity-marseille {
    width: 95%;
    margin: auto;
    text-align: justify;

}

section#heb-marseille h3:not(.pop-right) {
    padding-top: 1%;
    text-align: justify;
    padding-left: 3%;
}


.heb-right img {
    width: 100%;
    border-radius: 15px 0px 0 15px;
    height: 97%;
    object-fit: cover;
    max-width: 35%;
    max-height: 100%;
}

figcaption.card-text-right-side {
    text-align: left;
    width: 9em;
    margin-left: 39%;
    margin-top: -42%;
}

p.aside-stars.middle {
    margin-top: 16%;

}

p.aside-stars {
    margin-top: 15%;
}

.container-right {
    display: flex;
    flex-direction: column;
  /*  justify-content: space-between;*/
    align-content: space-between;
}

.container-right h3 {
    text-align: justify;
    padding-left: 12%;
}

footer > #footer-items {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
}


footer {
    background-color: #F2F2F2;
    margin: auto;
    width: 100%;
}


/* ADDING MEDIA QUERY */

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
