@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    padding-top: 3%;
    width: 95%;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: row;
}

.navbar {
    border: 1px solid black;
    display: flex;
    width: 10%;
}

.nav-items {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    padding-right: 5%;
}


li {
    list-style: none;
}

.line-height {
    font-weight: normal;
    font-size: 1.1em;
    line-height: 3%;
}

#top-search {
    border: 1px solid black;
    padding-top: 2%;
}

#search-bar {
    border: 1px solid black;
    width: 20%;

}

.heb-marseille {
    display: flex;
    align-content: space-around;
    flex-direction: row;
    border: 1px solid black;
    background-color: #F2F2F2;
}
.heb-marseille img {
    width: 10%;
}

#populaire-side {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
#populaire-side img {
    width: 30%;
}

.container-right {
    display: flex;
    justify-content: flex-end
    flex-wrap: wrap;
}


#activity-marseille {
    border: 1px solid black;
}
#activity-marseille img {
    display: flex;

    width: 10%;
}
